* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: Roboto, sans-serif;
}

body {
  background: linear-gradient(151.79deg, #0f2b05 4.34%, #000000 87.6%);
  height: 100vh;
  text-align: center;
}

header {
  padding: 75px 0;
}

.card {
  display: inline-block;
  width: 354px;
  height: 508px;
  background-image: url(./assets/bg-ignite.svg);
  cursor: pointer;

  /* when user click to change de background */
  transition: all 320ms cubic-bezier(0.4, 0, 1, 1) 0s;

  /* to animation when the page is rendered */
  opacity: 0;
  transform: skew(50deg, 50deg);
  animation: appear 0.7s forwards;

  user-select: none;
  -webkit-user-select: none;
}

.card>img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #f7dd43;
  margin-top: 115px;

  /* to not get de clicks */
  pointer-events: none;
  /* To not select the img with de event onClick */
  user-select: none;
  -webkit-user-select: none;
}

.info {
  margin-top: 98px;
  margin-left: 70px;
  text-align: left;
  color: #ffffff;
}

.info h1 {
  font-size: 18px;
  line-height: 140%;
}

.info p {
  font-size: 14px;
  line-height: 160%;
}

/* to animation */
@keyframes appear {
  to {
    opacity: 1;
    transform: skew(0deg, 0deg);
  }
}